<launch>

  <node pkg="turtlesim" type="turtlesim_node" name="turtle1">
    <param name="background_r" value="255" />
    <param name="background_g" value="0" />
    <param name="background_b" value="0" />
  </node>
  <node pkg="turtlesim" type="turtlesim_node" name="turtle2">
  <remap from="/turtle1/cmd_vel" to="/turtle2/cmd_vel" />
    <param name="background_r" value="0" />
    <param name="background_g" value="0" />
    <param name="background_b" value="255" />
  </node>  

  <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>

</launch>
